<div class="alert alert-primary">
  <div class="row">
    <div class="col-8">{{courseItem.title}}</div>
    <div class="col-2">{{courseItem.duration}} min {{courseItem.creationDate}}</div>
    <div class="col-10">{{courseItem.description}}</div>
    <div class="col-2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
